{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    {% comment %} <form method="GET">
        <label for="">Title</label>
        <input type="text" name="text">
        <label for="">Number</label>
        <input type="Number" name="number">
        <button type="submit">Submit</button>
    </form> {% endcomment %}
    <div class="w-1/2 mx-auto">
        {% comment %} <input type="text" class="w-full bg-red-500"> {% endcomment %}
        <div>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="px-3 mt-2 bg-purple-400 rounded-md">Submit</button>
    </form>
    </div>
</body>
</html>