    {% extends "dashboard/dashboard.html" %}
    {% block title %}Manager Dashboard{% endblock title %}
    {% block tasks %}
    <div class="task-right bg-white rounded-xl mt-6">


    <div class="task-right-up grid grid-cols-4 gap-4 text-gray-400 font-bold text-xs border-b border-gray-100 p-4">
      <h3>TASK TITLE</h3>
      <h3>PRIORITY</h3>
      <h3>TEAM</h3>
      <h3>CREATED AT</h3>
    </div>

    <div class="task-right-down grid grid-cols-4 gap-4 items-center text-sm border-b border-gray-100 p-4">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
        <span class="font-medium text-xs">Test Low Task</span>
      </div>


      <div>
        <p class="text-xs font-semibold text-gray-500 bg-blue-100 px-2 py-0.5 rounded inline-block">
          Low
        </p>
      </div>

      <div class="flex -space-x-2">
        <div class="h-6 w-6 bg-blue-500 text-white text-[12px] flex items-center justify-center rounded-full">CA</div>
        <div class="h-6 w-6 bg-green-400 text-white text-[12px] flex items-center justify-center rounded-full">JS</div>
        <div class="h-6 w-6 bg-yellow-500 text-white text-[12px] flex items-center justify-center rounded-full">B</div>
      </div>

      <div>
        <p class="text-xs text-gray-400 font-semibold">9 months ago</p>
      </div>
    </div>
    <div class="task-right-down grid grid-cols-4 gap-4 items-center text-sm mt-2 mb-2 border-b border-gray-100 p-4">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
        <span class="text-xs font-medium">Test Task</span>
      </div>


      <div>
        <p class="text-xs font-semibold text-gray-500 bg-gray-100 px-2 py-0.5 rounded inline-block">
          Normal
        </p>
      </div>

      <div class="flex -space-x-2">
        <div class="h-6 w-6 bg-red-500 text-white text-[12px] flex items-center justify-center rounded-full">AJ</div>
        <div class="h-6 w-6 bg-purple-600 text-white text-[12px] flex items-center justify-center rounded-full">EV</div>
        <div class="h-6 w-6 bg-yellow-500 text-white text-[12px] flex items-center justify-center rounded-full">B</div>
      </div>

      <div>
        <p class="text-xs text-gray-400 font-semibold">9 months ago</p>
      </div>
    </div>
    <div class="task-right-down grid grid-cols-4 gap-4 items-center text-sm border-b border-gray-100 p-4">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-red-500 rounded-full"></div>
        <span class="text-xs font-medium">Test Task</span>
      </div>


      <div>
        <p class="text-xs font-semibold text-red-500 bg-red-200 px-2 py-0.5 rounded inline-block">
          High
        </p>
      </div>

      <div class="flex -space-x-2">
        <div class="h-6 w-6 bg-blue-500 text-white text-[12px] flex items-center justify-center rounded-full">CA</div>
        <div class="h-6 w-6 bg-green-400 text-white text-[12px] flex items-center justify-center rounded-full">JS</div>
        <div class="h-6 w-6 bg-red-500 text-white text-[12px] flex items-center justify-center rounded-full">AJ</div>
        <div class="h-6 w-6 bg-yellow-500 text-white text-[12px] flex items-center justify-center rounded-full">B</div>
      </div>

      <div>
        <p class="text-xs text-gray-400 font-semibold">9 months ago</p>
      </div>
    </div>
    {% endblock tasks %}